


/* Custom styles for the navbar */
.navbar {
    background-color: #025464 !important;
    /* Background color */
}

.navbar-brand {
    color: #ffffff;
    /* Text color */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
    /* Text color */
    font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #ffffff;
    /* Text color on active/hover */
}

.navbar .btn {
    color: #E57C23;
    border-color: #E57C23;

}


.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://localhost/project-rental-mobil/app/img/assets/jumbotron.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 750px;
  }
  
  

.jumbotron h1 {
    font-family: inter;
    font-size: 50px;
    font-weight: bold;
    padding-top: 250px;
}

.reason {
    margin-top: -80px;
    height: 490px;
}

#reason .card-body {
    height: 490px;
}

/* About */
.about {
    padding-top: 50px;
    padding-bottom: 159px;
}

/* Car-Collection */
.car-collection {
    padding-bottom: 100px;
}

/* Footer */
.footer {
    background-color: #025464;
    padding: 20px 0;
    color: #ffff;
  }
  
  .footer .container {
    display: flex;
    align-items: center;
  }
  
  .footer .col-lg-4 {
    display: flex;
    align-items: center;
  }
  
  .footer .col-lg-8 {
    display: flex;
    align-items: center;
  }
  
  .footer h3 {
    margin-bottom: 10px;
  }
  
  .footer p {
    margin-bottom: 5px;
  }

  .copyright {
    background-color: #E8AA42;
    padding-top: 10px;
    color: #ffff;
}
  
  

/* Admin Dashboard */
.admin-dashboard .card{
  margin-top: 100px;
  margin-bottom: 205px;
}

/* User */
.riwayat-transaksi {
  margin-top: 100px;
  margin-bottom: 165px;
}